
//Colores

$celeste: #46C7FF;
$rojo: #EC9292;

//Fonts

$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;

//FontWheit

$regular: 400;
$medium: 500;
$bold: 700;

//Font-size

$xxx-large: 50;
$xx-large: 30;
$x-large: 20;
$large: 18;
$medium: 16;
$small: 14;
$x-small: 12;
